{% extends "base.html" %}

{% block title %} {{ recipe["title"] }} {% endblock %}

{% block favButton %}
{% if favorited %}
<li class="nav-item">
  <a style = "color: crimson; font-weight: 300; padding-left: 15px;" class="nav-link" href="/unfavoriteRecipe/{{id}}">Unfavorite This!</a>
</li>
{% else %}
<li class="nav-item">
  <a style = "color: crimson; font-weight: 300; padding-left: 15px;" class="nav-link" href="/favoriteRecipe/{{id}}">Favorite This!</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<h1 style = "margin: 20px auto 0;">{{ recipe["title"] }}</h1>
    <div class = "row" style = "padding: 10px">
        <div class = "col-lg-4 col-md-6 col-sm-12" style = "padding: 30px">
            <h3 style = "margin: 10px auto;">Ingredients</h3>
            <ul>
                {% for i in recipe["ingredients"] %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class = "col-lg-8 col-md-6 col-sm-12" style = "padding: 30px">
            <iframe width="100%" height = "100%" style = "border: 1px crimson solid;" src = "{{ recipe['source_url'] }}"></iframe>
        </div>
    </div>
{% endblock %}
